<div class="resumo-financeiro">

    <div class="grid">
        <div class="row">
            <div class="card">
                <div class="icon-circle total">
                    <span class="icon">💰</span>
                </div>
                <div class="card-info">
                    <span>Total Financiado</span>
                    <strong>{{ dadosResumo.total | currency:'BRL':'symbol':'1.2-2' }}</strong>
                </div>
            </div>
            <div class="card">
                <div class="icon-circle pago">
                    <span class="icon">📊</span>
                </div>
                <div class="card-info">
                    <span>Valor Pago</span>
                    <strong>{{ dadosResumo.pago | currency:'BRL':'symbol':'1.2-2' }}</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="icon-circle saldo">
                    <span class="icon">📉</span>
                </div>
                <div class="card-info">
                    <span>Saldo Restante</span>
                    <strong>{{ dadosResumo.saldo | currency:'BRL':'symbol':'1.2-2' }}</strong>
                </div>
            </div>
            <div class="card">
                <div class="icon-circle vencimento">
                    <span class="icon">📅</span>
                </div>
                <div class="card-info">
                    <span>Próximo Vencimento</span>
                    <strong>{{ dadosResumo.proximo_vencimento }}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="grafico card">
        <div class="grafico">
            <canvas #meuCanvas></canvas>
            <div class="texto-centro">
                <strong>{{ dadosResumo.porcentagem_paga }}%</strong>
                <span>Pago</span>
            </div>
        </div>
    </div>
</div>


