<div class="resumo-financeiro">

    <div class="grid">
        <div class="row">
            <div class="card">
                <div class="icon-circle total">
                    <span class="icon">💰</span>
                </div>
                <div class="card-info">
                    <span>Total Financiado</span>
                    <strong>R$ 15.000,00</strong>
                </div>
            </div>
            <div class="card">
                <div class="icon-circle pago">
                    <span class="icon">📊</span>
                </div>
                <div class="card-info">
                    <span>Valor Pago</span>
                    <strong>R$ 2.973,20</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="icon-circle saldo">
                    <span class="icon">📉</span>
                </div>
                <div class="card-info">
                    <span>Saldo Restante</span>
                    <strong>R$ 12.026,80</strong>
                </div>
            </div>
            <div class="card">
                <div class="icon-circle vencimento">
                    <span class="icon">📅</span>
                </div>
                <div class="card-info">
                    <span>Próximo Vencimento</span>
                    <strong>10/04/2026</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="grafico card">
    </div>
</div>

