/* You can add global styles to this file, and also import other style files */
body  {
    background: rgb(239, 244, 247);
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased; /* Deixa a fonte mais nítida em Mac/Chrome */
}